// FROM: https://meta.discourse.org/t/how-to-embed-a-button-into-a-topic-post/256473
[data-wrap="button"] a {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #1b1b1b !important;
  background-color: #ffef3f;
  border-color: #ffef3f;
}

// Part #1 Allows text to be displayed to the right of a button.
[data-wrap="button"] {
  display: inline-block;
}

// Part #2 Allows text to be displayed to the right of a button.
[data-wrap="text-after-button"] {
  display:inline-block;
}
